.titleNavContain {
    display: flex;
}

.titleHead {
    display: flex;
}

.titleHead img {
    height: 61px;
    padding-left: 184px;
    padding-top: 20px;
}

.titleHead h1 {
    padding-left: 17px;
    padding-top: 1px;
    font-family: "Quicksand", sans-serif;
    font-size: 39px;
}

.navBarHead ul {
    list-style-type: none;
    display: ruby-text;
    padding: 38px;
    padding-left: 231px;
    font-size: 17px;
    font-family: "Quicksand", sans-serif;
    white-space: break-spaces;
}

#mainImg {
    height: 509px;
    padding-left: 90px;
}

.iCons {
    padding-left: 5px;
    padding-top: 36px;
}

.iconImgs img {
    height: 218px;
    padding-left: 201px;
}

.conToText {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.conToText h3 {
    color: rgb(25, 170, 237);
    font-family: "Quicksand", sans-serif;
    font-size: 21px;
}

.conToText p {
    color: lightslategrey;
    font-family:  "Quicksand", sans-serif;
    font-size: 13px;
}

.cartAndText {
    display: flex;
    justify-content: space-evenly;
    padding-top: 64px;
}

#cartText {
    font-family: "Quicksand", sans-serif;
    color: #a0acb8;
    font-size: 44px;
    padding-left: 48px;
}

#shopCartImg {
    height: 349px;
}

.loremText {
    padding-top: 73px;
}

#bullText {
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    color: #a0acb8;
}

.loremText p {
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    color: #a0acb8;
}

.copyRight p {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: #a0acb8;
    font-size: 15px;
    padding-top: 23px;
    padding-bottom: 19px;
}

.endContain {
    background-color: rgb(42, 42, 43);
    padding-top: 1px;
    padding-bottom: 1px;
}

.endOfPage p {
    color: #a0acb8;
    font-family: "Quicksand", sans-serif;
    font-size: 39px;
    padding-left: 85px;
}